<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Occasions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= link_to recipient.name, recipient %></td>
        <td>
            <% recipient.occasions.each do |occasion| %>
              <%= link_to occasion.name, occasion, class: 'btn btn-warning btn-xs' %>
            <% end %>


        <%= link_to '+ occasion', new_occasion_path(recipient: recipient.id), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Recipient', new_recipient_path, class: 'btn btn-success btn-xs' %>
